@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Netrom.Entities
@using Netrom.Repositories.Interfaces
@page "/exercise/add"
@page "/exercise/edit/{ExerciseId:int}"
<h2>Add/Edit Exercise</h2>

@rendermode InteractiveServer
<EditForm Model="@ExerciseDto" OnValidSubmit=@SaveExercise FormName="editForm">
    <DataAnnotationsValidator/>
    <InputNumber @bind-Value="ExerciseDto.Id" hidden></InputNumber>
    <div class="form-group">
        <label>Description :</label>
        <div>
            <InputText @bind-Value="ExerciseDto.Description" class="form-control col-sm-3"/>
            <ValidationMessage For="@(() => ExerciseDto.Description)"/>
        </div>
    </div>
    <div class="form-group">
        <label>Type :</label>
        <div>
            <InputText @bind-Value="ExerciseDto.Type" class="form-control col-sm-3"/>
            <ValidationMessage For="@(() => ExerciseDto.Type)"/>
        </div>
    </div>
    
    <div class="form-group">
        <input type="submit" class="btn btn-primary" style="background-color: black; border: black" value="Save"/>
    </div>
</EditForm>  


