
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #0dcaf0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    background-color: #3a0647;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-info {
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
}

