@using Blazornetrom.Entites
@using Microsoft.AspNetCore.Authorization
@page "/exercisesLog"
@attribute [Authorize(Roles = "Administrator")]
@page "/exerciseLog/{WorkoutId:int}"

<h3>ExercisesLogPage</h3>

<Button Color="Color.Dark" Size="Size.Medium">
    <NavLink class="butonAddUser" href="/exerciseLog/add" >Add Exercise Log</NavLink>
</Button>

<DataGrid TItem = "ExerciseLog"
          Data = "@ExerciseLogList"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive>

    <DataGridColumn TItem="ExerciseLog" Field="Workouts.Name" Caption="Workout Name"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Reps" Caption="Reps"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Duration" Caption="Duration"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Exercises.Description" Caption="Exercise Name"></DataGridColumn>
</DataGrid>