@using Blazornetrom.Entites
@page "/exercisesLog"
<h3>ExercisesLogPage</h3>


<Button Color="Color.Dark" Size="Size.Medium">
    <NavLink class="butonAddUser" href="/exerciseLog/add" >Add Exercise Log</NavLink>
</Button>

<DataGrid TItem = "ExerciseLog"
          Data = "@ExerciseLogList"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive>
    
    <DataGridColumn TItem="ExerciseLog" Field="Reps" Caption="Reps"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Duration" Caption="Duration"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="ExerciseId" Caption="ExerciseId"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="WorkoutId" Caption="WorkoutId"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Exercises.Description" Caption="Exercise Name"></DataGridColumn>
</DataGrid>